<% include header %>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
<a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>

<br><br>

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>

        <h2 class="title">
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>

        <a href=/items/<%- item.id %>><img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>"></a>

        <!--
        <p><%- item.datum %></p>

        <p>
          <%- item.samenvatting %>
        </p>
      -->
    </section>
    <% teller++;}); %>


<% include footer %>
